
/*nav bar*/

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-content: space-between;
}

/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family:sans-serif;
    font-size:10px;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.thesis, .references{
  margin-left:25%;
  padding:2px 16px;
  height:1000px;
}
*/

body {
  background-color: rgb();
}

h1, h2, h3, h4 {
  font-family:sans-serif;
  color: rgb();
  background-color: rgb();
}

p {
  color:rgb();
  background: rgb();
}

/* links, visited, and hover-over */
a:link {
  color: rgb();
}
a:visited{

}
a:hover{

}
